version: '3.3'
services:
  db:
    image: postgres:14.4-alpine
    volumes:
      - db_value:/var/lib/postgresql/data/
    env_file:
      - .env
  django:
    image: yapracticum31/foodgram-backend
    restart: always
    volumes:
      - static_value:/app/backend_static/
      - media_value:/app/media/
      - ./data/ingredients.json:/app/recipes/fixtures/ingredients.json
    depends_on:
      - db
    env_file:
      - .env
  frontend:
    image: yapracticum31/foodgram-frontend
    volumes:
      - ../frontend/:/app/result_build/
  nginx:
    image: nginx:1.19.3
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../frontend/build:/usr/share/nginx/html/
      - ../docs/:/usr/share/nginx/html/api/docs/
      - static_value:/var/html/backend_static/
      - media_value:/var/html/media/
    depends_on:
      - django
      - frontend

volumes:
  static_value:
  media_value:
  db_value:

